@font-face {
  font-family: 'Futura Bold';
  src: local('Futura Bold'), url(./fonts/Futura-Bold.ttf) format('opentype');
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border: 10px solid white;
  background-color: black;
  height: 100vh;
  font-family: 'Futura Bold';
  overflow-y: scroll;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  height: auto;
  width: 200px;
  font-size: 24px;
}

.logo p {
  margin: 0px;
}

.logo p:last-child span {
  color: #cdd600;
}

.header {
  color: white;
  margin-top: 60px;
}

.links {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 250px;
  height: 100%;
}

.links a {
  font-size: 12px;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  background-color: #cdd600;
  color: #000000;
  padding: 10px 0px;
}

.links a:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (min-width: 375px) {
  .links {
    width: 300px;
  }

  .links a {
    font-size: 16px;
  }
}
@media screen and (min-width: 426px) {
  .header {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .links {
    width: 600px;
  }

  .links a {
    font-size: 22px;
    height: 70px;
  }

  .links a:not(:first-of-type) {
    margin-top: 32px;
  }

  .logo {
    font-size: 32px;
  }
}

@media (min-width: 1000px) {
  .App {
    padding-bottom: 50px;
  }

  .links {
    width: 600px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .links {
    justify-content: flex-start;
  }
}
